/* General CSS */
.checkbox {
  height: 300px;
  border: 1px solid rgb(167, 106, 37);
  width: 300px;
  overflow-y: scroll;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxHeader {
  background-color: rgb(255, 222, 32);
  text-align: center;
  padding: 10px;
}

.neighbours {
  display: flex;
  justify-content: space-around;
}

.neighbourbackground {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.neighbourbackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  opacity: 0.7;
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
  background-attachment: fixed;

}



.bottomTextP {
  padding-top: 5px;
}

.headerText {
  background-color: rgb(240,240,176);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  justify-content: center;
  width: 70%;
}

.headerText p{
  font-family: Calibra, sans-serif;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.beecard-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(240,240,176);
  border-radius: 25%;  
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.beepic-wrapper {
  margin: 5px auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20%;
}

.beepic-wrapper img {
  width: 150px;
  height: 150px;
  border-top: 0px;
  padding: 10px;
}

.beetext-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Calibri, sans-serif;
  color: rgb(218, 142, 56);
  font-size: 14px;
}
.funfacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Calibri, sans-serif;
  font-size: 22px;
}


.beeprops {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.beeprops h3{
  margin: 5px 0;
  font-size: 22px;
}
.beeprops p{
  margin: 5px 0;
  font-size: 18px;
}

.temperbox {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sizebox {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.namebox{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.familybox{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.funfacts{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.temperbox h4{
  margin: auto;
}
.temperbox p{
  margin: auto;
  text-align: center;
}
.namebox h4{
  margin: auto;
}
.namebox p{
  margin: auto;
  text-align: center;
}
.familybox h4{
  margin: auto;
}
.familybox p{
  margin: auto;
  text-align: center;
}
.sizebox h4{
  margin: auto;
}
.sizebox p{
  margin: auto;
  text-align: center;
}

.funfacts h4 {
  margin: auto;
}

.funfacts p{
  margin: auto;
  font-style: italic;
  text-align: center;
}
/* General CSS*/
body {
  margin: 0%;
}

h1 {
  color:rgb(167, 106, 37);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  text-shadow: 2px 2px rgb(253, 249, 249);
  text-align: center;
  padding: 30px;
}

h2 {
  color:rgb(214, 162, 103);
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

p {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  font-size: 22px;
  text-align: justify;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/* NavBar in App.jsx*/
.Nav {
  display: flex;
  background-color:white;
  justify-content: center;
}

.Nav li { 
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  display: flex;
  margin: auto;
  justify-content: center;
}

ul {
  margin:0px;
  padding:0px;
}

ul.Nav {
  padding:50px;
}

a {
  color: rgb(167, 106, 37);
  text-decoration: none; 

}

a:hover {
  color: rgb(214, 162, 103);
  transform: scale(1.1);
  transition-duration: 0.1s;
}

/* Homepage*/

.honeycomb {
  float:right;
  align-items: center;
  padding-top: 20%;
  padding-right: 5%;
}

.textonimage {
  font-size: 60px;
  background-color: white;
  border-radius: 25px;
  color:rgb(167, 106, 37);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 30px;
}

/* BeeImportance*/
.BeeImportance::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .7; 
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
}
.BeeImportance {
  position: relative;
  z-index: 1;
  font-size: 30px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.BeeImportance p {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.BeeImportance-general::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 120%;  
  opacity: .7; 
  height: 220%;  
  opacity: .4; 
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
  background-attachment: fixed;

}

.honeycomb::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 120%;  
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492549/shutterstock_728427460bis_plp7sz.jpg");
  background-size: cover;
}



.beephotos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.beephotos img {
  width: 200px;
  height: 200px;
  height: auto;
  overflow: hidden;
  padding: 5px;
  border-radius: 25px;
}

figcaption {
  text-align: center;
}

.beephotos img:hover {
  transform: scale(2.5);
}


.topiccontainer {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgb(240, 240, 176);
  padding: 20px;
  margin: auto;
  justify-content: center;
  width: 70%;
}

.topiccontainer ul {
  text-align: justify;
  padding: 0;
}

.topiccontainer li {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}

.beevideo iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  border: solid 1px rgb(218, 142, 56);
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

.beevideo {
  overflow:hidden;
  padding-bottom:30%;
  position:relative;
  height:100%;
  width:60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.beevideo iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  border: solid 1px rgb(218, 142, 56);
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

/*Saving Bees*/

.savingbees {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.savingbees::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
  opacity: 0.7;
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
  background-attachment: fixed;

}


.savingbees h3 {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bolder;
}

.projectlist {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.projectlist div {
  width: 300px;
  padding: 20px;
  border: solid 2px rgb(218, 142, 56);
  border-radius: 15%;
  margin: 1%;
}

.projectlist li {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}

.projectlist p {
  color: rgb(8, 8, 8);
  font-family: Calibri, sans-serif;
  font-size: 18px;
  text-align: justify;
}



/* Gems*/

.background {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgb(240, 240, 178);
}

.Gems {
  width: 80%;
  margin: auto;
}

.Gems p {
text-align: justify;
padding-right: 20px;
margin-left: 5%;
margin-right: 5%;
}

.gems-container img {
  width: auto; 
  height: 300px;
  padding: 0 50px;
  align-items: center;
}

.gems-container {
  box-sizing: border-box;
	padding: 10px;
  display: flex;
  border-radius: 25px;
  background-color: rgb(240, 240, 178);
  margin-bottom: 5%;
  align-items: center;
}


.Gems::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 475%;  
  opacity: .7; 
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.gems-container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  border-radius: 25px;
  background-color: rgb(240, 240, 178);
  margin-bottom: 5%;
  align-items: center;
}

/*About Us*/

.aboutus {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;  
  }
  
.aboutus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    opacity: 0.7;
    z-index: -1;
    background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
    background-size: cover;
    background-attachment: fixed;
  
  }

  .aboutuscontainer {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: rgb(240, 240, 176);
    padding: 20px;
    margin: auto;
    justify-content: center;
    width: 70%;
  }



/*Responsiveness*/

@media screen and (max-width:900px) {

  p {
    font-size: 16px;
  }

  .Gems {
    flex-wrap: wrap;
  }
  .gems-container { 
    border: rgb(207, 124, 29);
    flex-wrap: wrap;
    justify-content: center;
  }
  .gems-container img {
    width: 80%; 
    height: auto;
    padding:0px;
  }

  .textonimage {
    font-size: 30px;
    background-color: white;
    border-radius: 25px;
    color:rgb(167, 106, 37);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    text-align: center;
  }
  .honeycomb {
    float: none;
    padding-top: 30%;
    width: 80%;
    margin-left: 10%;
  }
  .honeycomb::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
    background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492549/shutterstock_728427460bis_plp7sz.jpg");
    background-size: cover;
  }

  .Nav li { 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px;
  }
  ul.Nav {
    padding:30px;
    text-align: left;
    flex-direction: column;
  }

  .neighbours {
    flex-direction: column;
    align-items: center;
  }

  .beeprops {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  p {
    padding: 0;
  }
}

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

