/* General CSS*/

h1 {
  color:rgb(167, 106, 37);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  text-shadow: 2px 2px rgb(253, 249, 249);
  text-align: center;
}

h2 {
  color:rgb(214, 162, 103);
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

p {
  font-family: Calibri, sans-serif;
  font-size: 18px;
  text-align: justify;
  padding: 20px;
}


/* BeeImportance*/

.BeeImportance {
  position: relative;
  z-index: 1;
  font-size: 30px;
  text-align: center;
}

.BeeImportance-general::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 120%;  
  opacity: .4; 
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
}

.honeycomb::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 120%;  
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492549/shutterstock_728427460bis_plp7sz.jpg");
  background-size: cover;
}

.BeeText{
  border-radius: 25px;
  background-color: rgb(253, 249, 249);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  margin: 100px;
  width: 80%;
  margin: auto;
}


/* Gems*/

.Gems {
  width: 80%;
  margin: auto;
}

.Gems p {
text-align: justify;
padding-right: 20px;
}

.gems-container img {
  width: 400px; 
  height: auto;
  border: rgb(207, 124, 29);
  padding-right: 20px;
  border-radius: 70px;
}

.gems-container {
  box-sizing: border-box;
	padding: 10px;
  display: flex;
  border-radius: 25px;
  background-color:rgb(253, 249, 249);
  margin: 30px;
}

.Gems::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 120%;  
  opacity: .4; 
  z-index: -1;
  background: url("https://res.cloudinary.com/dxzkpsxhf/image/upload/v1615492544/shutterstock_368463395_w4guip.jpg");
  background-size: cover;
}
